<app-header></app-header>
<div class="week-navigation">
  <label for="week">Week: {{selectedWeek}}</label>
  <button (click)="selectedWeek = selectedWeek - 1">Previous</button>
  <button (click)="selectedWeek = selectedWeek + 1">Next</button>
</div>
  <table>
    <thead>
      <tr>
        <th>Hour</th>
        <th *ngFor="let day of daysOfWeek">{{ day }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hour of hours">
        <td>{{ hour }}:00</td>
        <td *ngFor="let day of daysOfWeek; index as i" [class.booked]="isBooked(i + 1, hour, selectedWeek)" (click)="onCellClick(i + 1, hour)">
            {{ findBooking(i + 1, hour, selectedWeek)?.user.firstname || '' }}
          </td>
        </tr>
    </tbody>
    </table>
